{% extends "::base.html.twig" %}
{% block body %}
<h2>Liste des auteurs</h2>
{% for Utilisateur in Utilisateur %}
{% if loop.first %}
<ul>
{% endif %}
<li><a href="{{ path('Utilisateur_read',{'id':Utilisateur.id}) }}">
{{ Utilisateur.nom }}</a>
</li>
{% if loop.last %}
</ul>
{% endif %}
{% else %}
<p>Aucun auteur.</p>
{% endfor %}

<p><a href="{{ path('Utilisateur_add') }}"> Ajout d'un Auteur</a></p>
{% endblock %}